/* Template */
@media only screen and (min-width: 320px) {
    .applDetailView {
        width: auto;
        margin: 0 5px;
        padding: 0 10px;
    }
    .text-applDetail {
        display: block;
        padding: 0 0 0 10px;
    }
    h1 {
        font-size: 25px;
    }
    .label-applDetail {
        font-size: 16px;
        margin-top: 10px;
    }
    .label-status {
        font-size: 16px;
    }
    .text-status {
        display: block;
    }
    body .btn-saveStatus {
        float: left;
    }
}
@media only screen and (min-width: 481px) {
    .applDetailView {
        width: auto;
        margin: 0 5px;
        padding: 0 15px;
    }
    .text-applDetail {
        display: inline;
    }
    .label-applDetail {
        font-size: 17px;
        margin-top: 15px;
    }
    .label-status {
        font-size: 17px;
    }
    .text-status {
        display: inline;
    }
    body .btn-saveStatus {
        float: right;
    }
}
@media only screen and (min-width: 641px) {
    .applDetailView {
        width: auto;
        margin: 0 10px;
        padding: 0 20px;
    }
    h1 {
        font-size: 23px;
    }

}
@media only screen and (min-width: 961px) {
    .applDetailView {
        width: 700px;
        margin: 0 auto 0 auto;
        padding: 0 30px;
    }
    h1 {
        font-size: 30px;
    }
    .label-applDetail {
        font-size: 18px;
        margin-top: 20px;
    }
    .label-status {
        font-size: 18px;
    }
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.applDetailView {
    border-radius: 10px;
}

.label-applDetail {
    width: 200px;
    font-style: italic;
}



.textArea-applDetail {
    margin-top: 6px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    border-width: 2px;
    border-color: #7285a5;
    white-space: pre-line;
}

body .btn-cv-download {
    font-size: 13px;
    font-style: italic;
    background-color: #7285a5;
    border: none;
    padding: 1px;
}

/* User */
@media (prefers-color-scheme: dark) {
    .border-line {
        color: #384e7b;
    }
}
@media (prefers-color-scheme: light) {
    .border-line {
        color: #a7b6c7;
    }
}

body .btn-retract {
    font-size: 17px;
    float: left;
    background-color: darkred;
    margin: 0 0 20px 0;
}

body .btn-retract:hover {
    background-color: #c70808;
    border-color: #c70808;
}

body .btn-editDraft {
    float: right;
    margin: 0 0 20px 0;
    font-size: 17px;
}
.border-line {
    margin-top: 20px;
}


/* Employer */
@media (prefers-color-scheme: dark) {
    .applDetailView {
        background-color: #13274F;
    }
    .menu-status {
        background-color: var(--d-input-bg-color);
        border-radius: 10px;
        border-width: 2px;
        border-color: #7285a5;
    }
    .menu-status:hover {
        background-color: var(--d-input-bg-hover-color);
    }
}
@media (prefers-color-scheme: light) {
    .applDetailView {
        background-color: #cfd8e1;
    }
    .menu-status {
        background-color: var(--l-input-bg-color);
        border-radius: 10px;
        border-width: 2px;
        border-color: #7285a5;
    }
    .menu-status:hover {
        background-color: var(--l-input-bg-hover-color);
    }
}

.applDetailEmpl {

}

.label-status {
    font-style: italic;
    width: 240px;
}

.menu-status {
    width: 200px;
    height: 30px;
    margin: 0 0 20px 0;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}


body .btn-saveStatus {
    font-size: 16px;
    margin-bottom: 30px;
}

.text-status {
    text-decoration: underline;
    font-size: large;
}