@media (prefers-color-scheme: dark) {
    .application {
        border-bottom: solid 2px #7285a5;
    }
    .menu-filter {
        background-color: var(--d-input-bg-color);
        border-width: 2px;
        border-color: #7285a5;
    }
    .menu-filter:hover {
        background-color: var(--d-input-bg-hover-color);
    }
}
@media (prefers-color-scheme: light) {
    .application {
        border-bottom: solid 2px #a7b6c7;
    }
    .menu-filter {
        background-color: var(--l-input-bg-color);
        border-width: 2px;
        border-color: #a7b6c7;
    }
    .menu-filter:hover {
        background-color: var(--l-input-bg-hover-color);
    }
}
.applications {
    width: 700px;
    margin: 20px auto;
}

.application {
    padding: 20px;
}

.left {
    float:left;
    height: 100px;
    transform: translate(0);
}

.text-apl {
    font-size: 20px;
    font-weight: bold;
    float: left;
}

.status {
    font-style: italic;
    color: #7285a5;
}

.right {
    float: right;
}

.label-status {
    padding-right: 10px;
    font-size: 15px;
}

.text-status {
    font-size: 18px;
    font-style: normal;
}

body .btn-seeAppl {
    float: right;
    position: relative;
    right: 0;
    bottom: 0;
    margin-top: 20px;
    background-color: #7285a5;
    border: none;
    font-weight: bold;
    font-size: 17px;
    height: 38px;
    /*padding: 0;*/
}

body .btn-delete {
    background-color: darkred;
    float: right;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border-radius: 10px;
}

body .btn-delete:hover {
    background-color: #c70808;
    border-color: #c70808;
}

body .btn-retract {
    background-color: darkred;
    margin-top: 20px;
    font-size: 15px;
    height: 38px;
    padding: 0 10px;
    font-weight: normal;
    color: whitesmoke;
    border: none;
}

body .btn-retract:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.form-filter {
    margin: 20px 0 0 0;
}

.menu-filter {
    font-family: inherit;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    font-size: inherit;
    margin: 0 50px 0 0;
    color: inherit;
}


body .btn-filter {
    padding: 7px 10px;
    font-size: inherit;
}

.pi-trash::before {
    position: relative;
    bottom: 4px;
    left: 1px;
}