@media (prefers-color-scheme: dark) {
    .application {
        border-bottom: solid 2px #7285a5;
    }
    .menu-filter {
        background-color: var(--d-input-bg-color);
        border-width: 2px;
        border-color: #7285a5;
    }
    .menu-filter:hover {
        background-color: var(--d-input-bg-hover-color);
    }
}
@media (prefers-color-scheme: light) {
    .application {
        border-bottom: solid 2px #a7b6c7;
    }
    .menu-filter {
        background-color: var(--l-input-bg-color);
        border-width: 2px;
        border-color: #a7b6c7;
    }
    .menu-filter:hover {
        background-color: var(--l-input-bg-hover-color);
    }
}
@media only screen and (min-width: 320px) {
    .applications {
        width: auto;
        margin: 20px 10px;
    }
    .text-apl {
        font-size: 18px;
        display: block;
        white-space: normal;
    }
    .left {
        height: auto;
        transform: translate(0);
    }
    .right {
        display: block;
    }
    body .btn-seeAppl {
        float: left;
        font-size: 15px;
        height: 36px;
    }
    body .btn-delete {
        float: left;
        width: 36px;
        height: 36px;
        margin: 0;
    }
    body .btn-retract {
        font-size: 15px;
        height: 36px;
    }
    body .pi {
        font-size: 20px;
    }
    .pi-trash::before {
        bottom: 2px;
        left: -1px;
    }
    .text-status {
        font-size: 16px;
    }
}
@media only screen and (min-width: 481px) {
    .text-apl {
        font-size: 18px;
        float: left;
        max-width: 175px;
    }
    .left {
        float:left;
        height: 100px;
        transform: translate(0);
    }
    .label-apl {
        transform: translate(0, 200%)
    }
    .right {
        float: right;
    }
    body .btn-seeAppl {
        float: right;
        font-size: 15px;
        height: 36px;
        margin-top: 20px;
    }
    body .btn-delete {
        margin-top: 10px;
    }
    .status {
        float: right;
        text-align: left;
    }
    body .btn-retract {
        float: left;
    }
    body .btn-retract {
        font-size: 15px;
        height: 36px;
        margin-top: 20px;
    }
    .label-status {
        float: right;
    }
    .moveText {
        transform: translate(0, 200%);
    }
}
@media only screen and (min-width: 641px) {
    .text-apl {
        font-size: 19px;
        float: left;
        max-width: 250px;
    }
    body .btn-seeAppl {
        font-size: 16px;
        height: 37px;
    }
    body .btn-delete {
        float: right;
        width: 40px;
        height: 40px;
    }
    body .btn-retract {
        font-size: 15px;
        height: 37px;
    }
    body .pi {
        font-size: 22px;
    }
    .pi-trash::before {
        bottom: 3px;
        left: -2px;
    }
    .text-status {
        font-size: 17px;
    }
}
@media only screen and (min-width: 961px) {
    .applications {
        width: 700px;
        margin: 20px auto;
    }
    .text-apl {
        font-size: 20px;
        float: left;
        max-width: 400px;
    }
    body .btn-seeAppl {
        font-size: 17px;
        height: 38px;
    }
    body .btn-delete {
        float: right;
        width: 45px;
        height: 45px;
    }
    body .pi {
        font-size: 25px;
    }
    .pi-trash::before {
        bottom: 4px;
        left: 2px;
    }
    body .btn-retract {
        font-size: 15px;
        height: 38px;
    }
    .text-status {
        font-size: 18px;
    }
}

.application {
    padding: 20px;
}

.text-apl {
    font-weight: bold;
}

.status {
    font-style: italic;
    color: #7285a5;
}



.label-status {
    font-size: 15px;
}

.text-status {
    font-style: normal;
}

body .btn-seeAppl {
    float: right;
    position: relative;
    right: 0;
    bottom: 0;
    background-color: #7285a5;
    border: none;
    font-weight: bold;
    /*padding: 0;*/
}

body .btn-delete {
    background-color: darkred;
    border-radius: 10px;
}

body .btn-delete:hover {
    background-color: #c70808;
    border-color: #c70808;
}

body .btn-retract {
    background-color: darkred;
    padding: 0 10px;
    font-weight: normal;
    color: whitesmoke;
    border: none;
}

body .btn-retract:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.form-filter {
    margin: 20px 0 0 0;
}

.menu-filter {
    font-family: inherit;
    border-radius: 10px;
    height: 30px;
    width: 150px;
    font-size: inherit;
    margin: 0 50px 0 0;
    color: inherit;
}


body .btn-filter {
    padding: 7px 10px;
    font-size: inherit;
}

.pi-trash::before {
    position: relative;
}