
@media (prefers-color-scheme: dark) {
    .text-area-appl {
        border-radius: 10px;
        border-style: solid;
        border-color: #7285A5;
        border-width: 2px;
    }
}
@media (prefers-color-scheme: light) {

}

/* Application Form */
.header-appl {
    margin-top: 1%;
    margin-bottom: 1%
}

.applForm {
    width: 650px;
    margin: 0 auto 0 auto;
}

.label-applForm {
    display: inline-block;
    width: 225px;
    font-size: 17px;
    margin-bottom: 10px;
}

.upload-cv {
    font-family: inherit;
    font-style: italic;
}

.text-area-appl {
    height: 500px;
    width: 100%;
    font-family: inherit;
    color: #13274F;
    padding: 15px;
    background-color: whitesmoke;
    white-space: pre-line;
}

.errMsg-application {
    margin: 0 0 5px 0;
}

body .pi {
    font-size: 20px;
}

.applForm .btn-applForm {
    width: auto;
    height: 38px;
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 17px;
    font-weight: normal;
}

body .applForm .btn-delete {
    height: 38px;
    width: auto;
    background-color: darkred;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: normal;
    padding: 0;
}
body .applForm .btn-delete:hover {
    background-color: #c70808;
    border-color: #c70808;
}