/* New Password */
:root {
    --newPswd-width: 350px;
    --label-edit-width: 200px;
}

.newPswd {
    height: auto;
    padding: 20px calc(var(--newPswd-width) * 0.1) 30px;
    width: var(--newPswd-width);
    margin: 20px auto;
    border-radius: 10px;
}

.label-pswd {
    margin-top: 20px;
    font-style: italic;
    color: #7285A5;
}

.input-pswd {
    width: calc( var(--newPswd-width) * 0.8 );
    margin-top: 5px;
    font-size: 17px;
}

.fieldset-btn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: none;
    width: var(--newPswd-width);
    background-color: inherit;
}
.btn-newPswd {
    float: right;
    font-weight: bolder;
    font-size: 16px;
}

.errMsg-newPswd {
    text-align: justify-all;
}

/* Edit Data */
.upload {
    font-family: inherit;
    font-style: italic;
}
.edit {
    margin: 20px auto 0 auto;
    width: 560px;
    border-radius: 10px;
    padding: 20px 30px;
    line-height: 200%;
}

.label-edit {
    width: var(--label-edit-width);
    font-size: 17px;
}

.input-edit {
    width: 200px;
}

.errMsg-edit{
    margin-left: var(--label-edit-width);
    font-size: 14px;
    margin-bottom: 0;
}

body .pi {
    font-size: 20px;
    font-weight: normal;
}

.edit-btn {
    margin: 20px 35%;
    display: grid;
    align-content: center;
}

body .btn-saveEdit {
    font-size: 18px;
    margin: 0 auto 0 auto;
}