:root {
    --filter-bg-color: #384e7b
}

@media (prefers-color-scheme: dark) {
    .allOffers {
        border-color: #13274F;
    }
    .allOffers:hover {
        background-color: #472600;
    }
}

.filter {
    margin: 50px 10% 20px;
    background-color: var(--filter-bg-color);
}
.input-location {
    width: 160px;
    margin: 4px 4px;
    padding: 10px 12px;
    float: left;
    display: inline-block;
    background-color: var(--filter-bg-color);
    border-width: 0;
    font-size: 16px;
}
.input-location::placeholder {
    color: whitesmoke;
}
.input-location:hover {
    background-color: #7b5138;
}

.dropdown {
    float: left;
    display: inline-block;

}
.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown .dropbtn:hover {
    background-color: #7b5138;
}
.navContent {
    display: none;
    position: absolute;
    min-width: 160px;
}
.navContent .a {
    float: none;
    width: auto;
    z-index: 1;
    background-color: #7285A5;
    display: block;
    text-align: left;
    padding: 10px 20px;
    height: auto;
}
.navContent .a:hover {
    background-color: #a59272;
}

.checkBox {
    display: inline-block;
    padding: 3px;
}

.checkLabel {
    padding: 8px;
}
.applyBtn {
    margin-left: 10%;
    margin-right: 10%;
}
.navBtn {
    font-size: 16px;
    font-family: inherit;
    color: whitesmoke;
    font-weight: bolder;
    border-width: 0;
    border-radius: 5px;
    margin: 0;
    background-color: var(--filter-bg-color);
    height: 30px;
    width: 100px;
}
.navBtn:hover {
    background-color: #7b5138;
}
/* Offers */
.offers {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    background-color: inherit;
}
.border-line {
    border-bottom: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: #384e7b;
    margin-top: 30px;
}
.allOffers {
    border-top: solid;
    border-bottom: solid;
    border-left: none;
    border-right: none;
    border-width: 2px;
    border-color: #384e7b;
    margin-top: -2px;
    padding: 15px 20px 10px;
    height: 100px;
}
.offer-attr {
    display: inline-block;
    float: left;
    width: 200px;
}
.offer-label {
    font-weight: bolder;
    line-height: 200%;
    margin-bottom: 25px;
    font-size: 18px;
}
.offer-location {
    float: bottom;
    font-size: inherit;
}
.offer-field {
    float: bottom;
    font-size: inherit;
}

