:root {
    --filter-d-bg-color: #384e7b;
    --filter-l-bg-color: #7285a5;
}

@media (prefers-color-scheme: dark) {
    .allOffers {
        border-top: solid;
        border-bottom: solid;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: #13274F;
    }
    .filter {
        background-color: var(--filter-d-bg-color);
    }
    .navContent .a {
        background-color: #7285A5;
    }
    .navContent .a:hover {
        background-color: #a59272;
    }
    .navBtn {
        background-color: var(--filter-d-bg-color);
    }
    .navBtn:hover {
        background-color: #7b5138;
    }
    .input-location {
        background-color: var(--filter-d-bg-color);
    }
    .input-location:hover {
        background-color: #7b5138;
    }
    .menu-pref:hover {
        background-color: #7b5138;
    }
    .dropdown .dropbtn:hover {
        background-color: #7b5138;
    }
    .border-line {
        border-bottom: solid;
        border-top: none;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: #384e7b;
    }
    .allOffers {
        border-top: solid;
        border-bottom: solid;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: #384e7b;
    }
}

@media (prefers-color-scheme: light) {

    .filter {
        background-color: var(--filter-l-bg-color);
    }
    .navContent .a {
        background-color: #cfd8e1;
    }
    .navContent .a:hover {
        background-color: #e1d8cf;
    }
    .navBtn {
        background-color: var(--filter-l-bg-color);
    }
    .navBtn:hover {
        background-color: #a59272;
    }
    .input-location {
        background-color: var(--filter-l-bg-color);
    }
    .input-location:hover {
        background-color: #a59272;
    }
    .menu-pref:hover {
        background-color: #a59272;
    }
    .dropdown .dropbtn:hover {
        background-color: #a59272;
    }
    .border-line {
        border-bottom: solid;
        border-top: none;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: #cfd8e1;
    }
    .allOffers {
        border-top: solid;
        border-bottom: solid;
        border-left: none;
        border-right: none;
        border-width: 2px;
        border-color: #cfd8e1;
    }
}
@media only screen and (max-width: 640px) {
    .wrapper {
        margin: 0 5px 0 5px;
    }
    .filter {
        margin: 15px 0 10px;
    }
    .offer-left {
        width: 200px;
    }
    .offer-btn {
        padding: 20px 0;
    }
    body .btn-toOffer {
        width: 30px;
        height: 30px;
    }
    .offer-label {
        font-size: 15px;
    }
    .allOffers {
        padding: 15px 5px 15px 20px;
    }
    body .pi {
        font-size: 15px;
    }
    .pi-angle-right::before {
        margin-left: 0;
        font-size: 23px;
    }
    .dropdown .dropbtn {
        font-size: 14px;
        padding: 10px 10px;
    }
    .navContent {
        height: 160px;
        min-width: 120px;
    }
    .navBtn {
        font-size: 14px;
        font-weight: bolder;
        border-radius: 5px;
        height: 24px;
        width: 75px;
    }
    .border-line {
        margin-top: 10px;
    }
    .input-location {
        width: 120px;
        margin: 2px 2px 2px;
        padding: 8px 8px;
        font-size: 14px;
    }
    .input-location::placeholder {
        font-size: 14px;
    }
    .select-pref {
        width: 220px;
        font-size: 14px;
        padding: 6px 10px;
    }
    .label-pref {
        padding-right: 6px;
    }

    .menu-pref {
        width: 125px;
        height: 20px;
        font-size: 13px;
    }
    .select-fav {
        padding: 3px 10px;
        font-size: 14px;
    }
    .check-fav {
        height: 20px;
        width: 20px;
        bottom: -4px;
    }
    body .btn-fav {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    body .btn-fav1 {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 641px) {
    .wrapper {
        margin: 0 10px 0 10px;
    }
    .filter {
        margin: 30px 0 15px;
    }
    .offer-btn {
        padding: 15px;
    }
    .allOffers {
        padding: 15px 5px 15px 20px;
    }
    body .btn-toOffer {
        width: 35px;
        height: 35px;
    }
    .offer-label {
        font-size: 17px;
    }
    body .pi {
        font-size: 17px;
    }
    .pi-angle-right::before {
        margin-left: 0;
        font-size: 27px;
    }
    .dropdown .dropbtn {
        font-size: 14px;
        padding: 12px 12px
    }
    .navContent {
        height: 300px;
        min-width: 130px;
    }
    .navBtn {
        font-size: 14px;
        font-weight: bolder;
        border-radius: 5px;
        height: 28px;
        width: 85px;
    }
    .border-line {
        margin-top: 20px;
    }
    .input-location {
        width: 120px;
        margin: 4px;
        padding: 9px 9px;
        font-size: 14px;
    }
    .input-location::placeholder {
        font-size: 14px;
    }
    .select-pref {
        width: 230px;
        font-size: 14px;
        padding: 10px 12px;
    }
    .label-pref {
        padding-right: 10px;
    }

    .menu-pref {
        width: 130px;
        height: 22px;
        font-size: 13px;
    }
    .select-fav {
        padding: 8px 10px;
        font-size: 14px;
    }
    .check-fav {
        height: 21px;
        width: 21px;
        bottom: -4px;
    }
    body .btn-fav {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    body .btn-fav1 {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
}
@media only screen and (min-width: 961px) {
    .wrapper {
        margin: 0 10% 0 10%;
    }
    .filter {
        margin: 50px 0 20px;
    }
    .offer-btn {
        height: 70px;
        padding: 15px;
    }
    .allOffers {
        padding: 15px 20px 15px;
    }
    body .btn-toOffer {
        width: 40px;
        height: 40px;
    }
    .offer-label {
        font-size: 18px;
    }
    body .pi {
        font-size: 19px;
    }
    .pi-angle-right::before {
        margin-left: 0;
        font-size: 30px;
    }
    .dropdown .dropbtn {
        font-size: 16px;
        padding: 14px 16px;

    }
    .navContent {
        height: 400px;
        min-width: 160px;
    }
    .navBtn {
        font-size: 16px;
        font-weight: bolder;
        border-radius: 5px;
        height: 30px;
        width: 100px;
    }
    .border-line {
        margin-top: 30px;
    }
    .input-location {
        width: 160px;
        margin: 7px 4px 4px;
        padding: 10px 12px;
        font-size: 16px;
    }
    .input-location::placeholder {
        font-size: 16px;
    }
    .select-pref {
        width: 270px;
        font-size: 16px;
        padding: 10px 16px;
    }
    .label-pref {
        padding-right: 10px;
    }

    .menu-pref {
        width: 150px;
        height: 25px;
        font-size: 15px;
    }
    .select-fav {
        padding: 10px 16px;
        font-size: 16px;
    }
    .check-fav {
        height: 22px;
        width: 22px;
        bottom: -5px;
    }
    body .btn-fav {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }

    body .btn-fav1 {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
}

.wrapper {
    display: block;
}

.filter {
    width: 100%;
}
.input-location {
    height: inherit;
    float: left;
    display: inline-block;
    border-width: 0;
    color: inherit;
}
.input-location::placeholder {
    color: whitesmoke;
    font-family: inherit;
}

.dropdown {
    float: left;
    display: inline-block;

}
.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: whitesmoke;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

body .pi {
    margin-left: 5px;
}
.navContent {
    display: none;
    position: absolute;
    overflow-y: scroll;
}
.navContent .a {
    float: none;
    width: auto;
    z-index: 1;
    display: block;
    text-align: left;
    padding: 10px 20px;
    height: auto;
}


.checkBox {
    display: inline-block;
    padding: 3px;
}

.checkLabel {
    padding: 8px;
}
.applyBtn {
    margin: 0;
}
.navBtn {
    font-family: inherit;
    color: whitesmoke;
    border-width: 0;
    margin: 0;
}

body .btn-newOffer {
    float: right;
    height: 30px;
    width: 220px;
    font-size: 16px;
    font-family: inherit;
    color: whitesmoke;
    font-weight: bolder;
    border-width: 0;
    border-radius: 5px;
    margin: 0;
    background-color: darkgreen;
    text-align: center;
    line-height: 12px;
}
body .btn-newOffer:hover {
    background-color: #0fa852;
    border-color: #0fa852;
}


.select-pref {
    height: inherit;
    color: whitesmoke;
    display: inline-block;
}

.menu-pref {
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    font-style: italic;
}



.select-fav {
    height: inherit;
    color: whitesmoke;
    display: inline-block;
}
.label-fav {
    padding-right: 10px;
}

.check-fav {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    position: relative;
    background-color: whitesmoke;
}
input[type="checkbox"].check-fav {
    -webkit-appearance: none;
}
/*input[type="checkbox"]+.check-fav::before {
    background-color: #7285A5;
    border: none;
}
input[type="checkbox"]:hover+.check-fav::before {
    background-color: #a59272;
}
input[type="checkbox"]:checked+.check-fav::before {
    background-color: #B98B0E;
}*/
.check-fav:active {
    background-color: #7285A5;
}
.check-fav:checked {
    background-color: #B98B0E;
}


.check-fav:active {
    background-color: #7285A5;
}

/* Offers */
.offers {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 50px;
    background-color: inherit;
    width: 100%;
}

.allOffers {
    margin-top: -2px;
    height: auto;
}

.offer-left {
    float: left;
}

.offer-attr {
    display: inline-block;
    float: left;
    width: 250px;
}
.offer-label {
    font-weight: bolder;
    line-height: 200%;
    margin-bottom: 25px;
}
.offer-location {
    float: bottom;
    font-size: inherit;
}
.offer-field {
    float: bottom;
    font-size: inherit;
}

body .btn-fav {
    float: right;
}

body .btn-fav1 {
    float: right;
}

.offer-btn {
    float: right;
    position: relative;
}

body .btn-toOffer {
    float: right;
    background-color: #7285a5;
    border: none;
    /*transform: translate(0, 50%);*/
}

body .ui-button.ui-button-text-icon-left .ui-icon {
    left: 6%;
    top: 35%;
}
