/* create Offer */
@media (prefers-color-scheme: dark) {
    .offer-form {
        background-color: #13274F;
    }
    .offer-data {
        border-bottom: solid 2px;
        border-color: #384e7b;
    }
    .offer-descr {
        border-bottom: solid 2px;
        border-color: #384e7b;
    }
}

@media (prefers-color-scheme: light) {
    .offer-form {
        background-color: #cfd8e1;
    }
    .offer-data {
        border-bottom: solid 2px;
        border-color: #a7b6c7;
    }
    .offer-descr {
        border-bottom: solid 2px;
        border-color: #a7b6c7;
    }
}

@media only screen and (min-width: 320px) {
    .offer-form {
        width: auto;
        margin: 0 5px auto;
        padding: 20px 10px 0 10px;
    }
    .input-plain {
        width: 100%;
    }
    .offer-attr {
        display: inline-block;
        width: 100%;
        padding: 0 2px 2px 2px;
    }
    .input-title {
        width: 100%;
    }
    .label-offAttr {
        width: 60px;
    }
    .offer-data {
        padding: 20px;
    }
    .area-descr {
        width: 100%;
        height: 300px;
    }
    .offer-descr {
        padding: 20px;
    }
}
@media only screen and (min-width: 481px) {
    .input-plain {
        width: var(--input-width);
    }
    .offer-attr {
        display: inline-block;
        width: 210px;
        padding: 0 2px 2px 2px;
    }
    .offer-data {
        padding: 10px;
    }
}
@media only screen and (min-width: 641px) {
    .offer-form {
        width: auto;
        margin: 0 10px auto;
        padding: 20px 30px 0 30px;
    }
    .input-title {
        width: 80%;
    }
    .offer-attr {
        display: inline-block;
        width: 230px;
        padding: 0 2px 2px 2px;
    }
    .offer-data {
        padding: 20px;
    }
    .area-descr {
        width: 100%;
        height: 300px;
    }
}
@media only screen and (min-width: 961px) {
    .offer-form {
        width: 1000px;
        margin: 0 auto 50px auto;
        padding: 20px 30px 0 30px;
    }
    .input-title {
        width: 70%;
    }
    .label-offAttr {
        width: 140px;
    }
    .offer-attr {
        display: inline-block;
        width: 210px;
        padding: 0 2px 2px 2px;
    }
    .area-descr {
        width: 600px;
        height: 300px;
    }
}

h1 {
    line-height: 150%;
}


.label-title {
    font-size: 17px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 5px;
}
#address {
    margin-bottom: 20px;
}
.label-offAttr {
    display: inline-block;
}


.errMsg-createO {
    margin: 0;
    padding: 0;
}

.offer-attr {
    display: inline-block;
    padding: 0 2px 2px 2px;
}



.label-offDescr {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    font-style: italic;
    width: 150px;
}

.area-descr {
    font-family: inherit;
    color: #13274F;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: whitesmoke;
    white-space: pre-line;
}
.btns {
    padding-top: 20px;
    padding-bottom: 20px;
}

body .btn-save {
    font-weight: normal;
    float: left;
    font-size: 18px;
    padding: 10px;
}

body .btn-upload {
    float: right;
    font-size: 18px;
    padding: 10px;
    font-weight: normal;
    background-color: darkgreen;
}
body .btn-upload:hover {
    background-color: #0fa852;
    border-color: #0fa852;
}

body .btn-deleteDraft {
    float: left;
    margin-left: 20px;
    font-size: 18px;
    padding: 10px;
    background-color: darkred;
    border-color: black;
}

body .btn-deleteDraft:hover {
    background-color: #c70808;
    border-color: #c70808;
}



/* offer */
@media (prefers-color-scheme: dark) {

    .field-offer-description {
        background-color: #13274F;
    }
}
@media (prefers-color-scheme: light) {
    .field-offer-description {
        background-color: #cfd8e1;
    }
}

@media only screen and (min-width: 320px) {
    .offer {
        margin: 20px 10px 40px;
        width: auto;
    }
    .field-offer-description {
        padding: 0 15px 20px;
    }
    .offer-title {
        font-size: 20px;
    }
    .label-offer {
        width: 100%;
        font-size: 15px;
    }
    .label-offer-description {
        font-size: 17px;
    }
    body .btn-appl {
        font-size: 15px;
    }
    body .btn-seeAppl {
        font-size: 15px;
    }
    body .btn-deleteOffer {
        font-size: 15px;
    }
    body .btn-editDraft {
        font-size: 15px;
        margin-bottom: 10px;
        display: block;
    }
    body .btn-upload1 {
        margin-bottom: 10px;
        font-size: 15px;
        display: block;
    }
}
@media only screen and (min-width: 481px) {
    .field-offer-description {
        padding: 0 20px 20px;
    }
    .offer-title {
        font-size: 23px;
    }
    .label-offer {
        width: 225px;
        font-size: 17px;
    }
    body .btn-appl {
        font-size: 16px;
    }
    body .btn-seeAppl {
        font-size: 16px;
    }
    body .btn-deleteOffer {
        font-size: 16px;
    }
    body .btn-editDraft {
        font-size: 16px;
        margin-bottom: 0;
        display: inline;
    }
    body .btn-upload1 {
        float: right;
        font-size: 16px;
    }
}
@media only screen and (min-width: 641px) {
    .label-offer-description {
        font-size: 20px;
    }
    body .btn-appl {
        font-size: 17px;
    }
    body .btn-seeAppl {
        font-size: 17px;
    }
    body .btn-deleteOffer {
        font-size: 17px;
    }
    body .btn-upload1 {
        float: right;
        font-size: 17px;
    }
    body .btn-editDraft {
        float: none;
        font-size: 17px;
    }
}
@media only screen and (min-width: 961px) {
    .offer {
        margin: 20px auto 40px;
        width: 700px;
    }
    .offer-title {
        font-size: 25px;
    }
    .label-offer-description {
        font-size: 20px;
    }
    body .btn-appl {
        font-size: 18px;
    }
    body .btn-seeAppl {
        font-size: 18px;
    }
    body .btn-deleteOffer {
        font-size: 18px;
    }
    body .btn-upload1 {
        float: right;
        font-size: 18px;
    }
    body .btn-editDraft {
        float: none;
        font-size: 18px;
    }
}
body .btn-fav {
    float: right;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 13px;
    margin-bottom: -13px;
}

body .btn-fav1 {
    float: right;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 13px;
    margin-bottom: -13px;
}

.offer-title {
    text-align: center;
    margin-top: 15px
}


.offer-data1 {
    margin: 20px 0px 10px;
}

.label-offer {
    margin: 20px 0 5px 5px;
    font-style: italic;
    font-weight: bold;
}

.text-offer {

}

.wrap-textOffer {
    display: inline-block;
    padding: 0 0 0 10px;
}

.field-offer-description {
    border-radius: 10px;
    margin: 20px 0 0 0;
}

.label-offer-description {
    margin-bottom: 10px;
    font-weight: bolder;
    margin-top: 20px;
    font-style: italic;
}

.box-description {
    padding-left: 15px;
    padding-right: 15px;
}

.text-offer-description {
    white-space: pre-line;
}

.div-btn {
    margin: 20px 10px 0 10px;
    text-align: center;
}

body .btn-appl {
    font-weight: bold;
}

body .btn-seeAppl {
    font-weight: normal;
    float: right;
}
body .btn-upload1 {
    padding: 10px;
    font-weight: normal;
    background-color: darkgreen;
}
body .btn-upload1:hover {
    background-color: #0fa852;
    border-color: #0fa852;
}

body .btn-deleteOffer {
    font-weight: normal;
    background-color: darkred;
    float: left;
}

body .btn-deleteOffer:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.link-login {
    font-style: italic;
    font-size: initial;
    color: #7285a5;
}

.link-login:hover {
    color: #007FFF;
}

/* Offer Drafts */
@media only screen and (min-width: 320px) {
    body .btn-delete {
        height: 30px;
        width: 30px;
        margin: 0 10px 0 0;
    }
    .pi-trash::before {
        top: 5px;
        left: 0px;
    }
}
@media only screen and (min-width: 481px) {

}
@media only screen and (min-width: 641px) {
    body .btn-delete {
        height: 36px;
        width: 36px;
        margin: 0 15px 0 0;
    }
    .pi-trash::before {
        top: 5px;
        left: 2px;
    }
}
@media only screen and (min-width: 961px) {
    body .btn-delete {
        height: 40px;
        width: 40px;
        margin: 0 20px 0 0;
    }
    .pi-trash::before {
        top: 5px;
        left: 2px;
    }
}
.drafts-title {
    font-size: 25px;
    margin-top: 15px;
}

.allOfferDrafts {
    margin: 20px 30%;
}

.oDraft {
    border-bottom-style: solid;
    border-color: #7285a5;
    border-width: 2px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.draft-text {
    float: left;
    height: 100%;
}

.text-draftTitle {
    font-size: 20px;
    position: relative;
    top: 25px;
}

.draft-time {
    margin-top: 20px;
    font-size: 14px;
    color: #7285a5;
}

.label-time {
    width: 150px;
    font-style: italic;
}

.text-date {

}

.drafts-btns {
    float: right;
}

body .btn-editDraft {
    font-weight: normal;
}

body .btn-delete {
    font-weight: lighter;
    background-color: darkred;
    border-color: black;
    border-radius: 10px;
}

body .btn-delete:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.add .btn-newOffer {
    background-color: #7285a5;
    border-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
}

.add .btn-newOffer:hover {
    background-color: #75b4ff;
    border-color: #75b4ff;
}

.pi-trash::before {
    position: relative;
}

.pi-plus::before {
    margin-left: 6px;
}