/* create Offer */
@media (prefers-color-scheme: dark) {
    .offer-form {
        background-color: #13274F;
    }
    .offer-data {

    }
}
h1 {
    line-height: 150%;
}
.offer-form {
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.offer-data {
    border-bottom: solid 2px;
    padding-bottom: 20px;
    padding-left: 20px;
    border-color: #384e7b;
}
.label-title {
    font-size: 17px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 5px;
}
#address {
    margin-bottom: 20px;
}
.label-offAttr {
    width: 140px;
    display: inline-block;
}

.input-plain {

}

.offer-attr {
    display: inline-block;
    width: 200px;
}

.offer-descr {
    padding-left: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px;
    border-color: #384e7b;
}

.label-offDescr {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 17px;
    font-style: italic;
}

.area-descr {
    font-family: inherit;
    width: 60%;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: whitesmoke;
    white-space: pre-line;
}
.area-descr:hover {
    background-color: #7285A5;
}
.btns {
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-save {
    float: left;
    font-size: 18px;
    padding: 10px;
}

.btn-upload {
    float: right;
    font-size: 18px;
    padding: 10px;
}

body .btn-deleteDraft {
    float: left;
    margin-left: 20px;
    font-size: 18px;
    padding: 10px;
    background-color: darkred;
    border-color: black;
}

body .btn-deleteDraft:hover {
    background-color: #c70808;
    border-color: #c70808;
}

/* offer */
body .btn-fav {
    float: right;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 13px;
    margin-bottom: -13px;
}

body .btn-fav1 {
    float: right;
    width: 35px;
    height: 35px;
    position: relative;
    margin-top: 13px;
    margin-bottom: -13px;
}

.offer-title {
    text-align: center;
    font-size: 25px;
    margin-top: 15px
}

.offer {
    margin: 20px 30% 40px;
}

.offer-data1 {
    margin: 20px 10px 10px;
}

.label-offer {
    width: 225px;
    margin-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

.text-offer {

}

.field-offer-description {
    background-color: #13274F;
    padding: 0 20px 20px;
    border-radius: 10px;
}

.label-offer-description {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 20px;
    font-style: italic;
}

.box-description {
    padding-left: 15px;
    padding-right: 15px;
}

.text-offer-description {
    white-space: pre-line;
}

.div-btn {
    margin: 20px 10px 0 10px;
    text-align: center;
}

body .btn-appl {
    font-size: 18px;
    font-weight: bold;
}

body .btn-seeAppl {
    font-size: 18px;
    font-weight: bold;
    float: right;
}

body .btn-deleteOffer {
    font-size: 18px;
    font-weight: bold;
    background-color: darkred;
    float: left;
}

body .btn-deleteOffer:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.link-login {
    font-style: italic;
    font-size: initial;
    color: #7285a5;
}

.link-login:hover {
    color: #007FFF;
}

/* Offer Drafts */
.drafts-title {
    font-size: 25px;
    margin-top: 15px;
}

.allOfferDrafts {
    margin: 20px 30%;
}

.oDraft {
    border-bottom-style: solid;
    border-color: #7285a5;
    border-width: 2px;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.draft-text {
    float: left;
    height: 100%;
}

.text-draftTitle {
    font-size: 20px;
    position: relative;
    top: 25px;
}

.draft-time {
    margin-top: 20px;
    font-size: 14px;
    color: #7285a5;
}

.label-time {
    width: 150px;
    font-style: italic;
}

.text-date {

}

.drafts-btns {
    float: right;
}

.btn-editDraft {
    font-size: 17px;
    font-weight: bold;
}

body .ui-button.ui-button-text-icon-left .ui-icon {
    top:  41%;
}

body .btn-delete {
    height: 40px;
    width: 40px;
    font-weight: lighter;
    background-color: darkred;
    border-color: black;
    border-radius: 10px;
    transform: translate(0, 50%);
    margin: 0 20px 0 0;
}

body .btn-delete:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.add .btn-newOffer {
    background-color: #7285a5;
    border-color: black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-top: 10px;
}

.add .btn-newOffer:hover {
    background-color: #75b4ff;
    border-color: #75b4ff;
}

.pi-trash::before {
    margin-left: 3.5px;
}

.pi-plus::before {
    margin-left: 6px;
}