:root {
    --profile-width: 700px;
}
.data {
    width: var(--profile-width);
    display: block;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 50px;
}
.image-profile {
    margin-top: 20px;
}
.image-profile:hover {

}
@media (prefers-color-scheme: dark) {
    .label-profile {
        color: #7285A5;
    }
    .wrapper-text {
        border-color: #7285A5;
    }
    .btn-edit {
        border-width: 1px;
        border-color: black;
        color: whitesmoke;
    }
    .btn-edit:hover {
        background-color: #123d6d;
    }
}
@media (prefers-color-scheme: light) {
    .label-profile {
        color: black;
    }
    .text-data {
        color: #073980;
    }
}

.label-profile {
    font-size: 13px;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 15px;
}
.wrapper-text {
    width: calc( var(--profile-width) * 0.7 );
    margin-left: calc( (var(--profile-width) - var(--profile-width) * 0.7) / 2);
    border-bottom: solid;
    border-width: 2px;
    font-size: 16px;
    border-color:#7285A5;
}
.text-data {
    margin-left: 30px;
    margin-top: 10px;
}
.btn-edit {
    width: auto;
    margin: 20px;
}

.btn-delete {
    margin: 20px;
    background-color: darkred;
    border-width: 1px;
    border-color: black;
}

