/*body {
    height: 200px;
    margin: 0;
}*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 25%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    display: none;
}

@media (prefers-color-scheme: light) {
    .sidenav {
        background-color: #D5E9F5;
        border-width: 2px;
        border-color: #c2d4df;
    }
    .sidenav a:hover {
        background-color: #83949e;
    }
    .sidenav a {
        border-bottom-color: #c2d4df;
    }
}

@media (prefers-color-scheme: dark) {
    .sidenav {
        background-color: #002147;
        border-width: 2px;
        border-color: #001b3b;
    }
    .sidenav a:hover {
        background-color: #123d6d;
    }
    .sidenav a {
        border-bottom-color: #123d6d;
    }
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
    border-bottom-width: 2px;
}

.sidenav .sideNavLinks {
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 8px 8px 8px 32px;
    color: inherit;
    font-size: 20px;
    transition: 0.3s;
    border-bottom-width: 2px;
}
/* When you mouse over the navigation links, change their color */


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    background-color: transparent;
    border: none;
    color: inherit;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidenav. closebtn:hover {
    background-color: transparent;
    color: #7285A5;
}

#menubtn {
    font-family: "Times New Roman", serif;
}