/*body {
    height: 200px;
    margin: 0;
}*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 20%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 60px; /* Place content 60px from the top */
    display: none;
}

@media (prefers-color-scheme: light) {
    .sidenav {
        background-color: #cfd8e1;;
        border-style: solid;
        border-width: 2px;
        border-color: #98a5b4;
    }
    .sidenav [class*="sideNavLinks-"]:hover {
        color: whitesmoke;
        background-color: #a7b6c7;
    }
    .sidenav [class*="sideNavLinks-"] {
        border-radius: 0;
        border-style: none;
    }
}

@media (prefers-color-scheme: dark) {
    .sidenav {
        background-color: #002147;
        border-style: solid;
        border-width: 2px;
        border-color: #001b3b;
    }

    .sidenav [class*="sideNavLinks-"]:hover {
        background-color: #123d6d;
    }
    .sidenav [class*="sideNavLinks-"] {
        border-radius: 0;
        border-style: none;
    }
}


/* The navigation menu links */

.sidenav [class*="sideNavLinks-"] {
    text-align: left;
    width: 100%;
    padding: 8px 8px 8px 10%;
    background-color: transparent;
    color: inherit;
    font-size: 20px;
    transition: 0.3s;
}

.sidenav .sideNavLinks-plain {
    background-color: inherit;
    border: none;
}

.border {
    color: #7285A5;
    height: 2px;
    margin-left: 5%;
    margin-right: 5%;
}

body .sidenav .ui-button.ui-button-text-icon-left .ui-icon {
    left: 7%;
    top: 45%;
}

.sidenav .closebtn {
    background-color: transparent;
    border: none;
    color: inherit;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.sidenav .closebtn:hover {
    background-color: transparent;
    color: #7285A5;
}

#menubtn {
    font-family: "Times New Roman", serif;
}

body .sidenav .pi {
    font-size: 22px;
    font-weight: normal;
}