@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik-Regular.ttf");
}
body {
    width: auto;
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    border-width: 3px;
    border-color: aqua;
    child-align: middle;
}

/*
Light: color: #F0F8FF; color: #D5E9F5; color:#A2D7F7; color: #4B9CD3; color: #073980; Border color: #c2d4df, Hover color: #89a1b0, .sidenav hover color: #83949e
Dark:  color: #002147; color: #13274F; color:#007FFF; color: #6495ED; color: #7285A5; Border color: #001b3b, hover color: #384e7b, .sidenav hover color: #123d6d
*/

@media (prefers-color-scheme: light) {
    body {
        color: black;
    }
    .head, .foot{
        background-color: #073980;
    }
    .content {
        background-color: #F0F8FF;
    }
    fieldset {
        background-color:#D5E9F5;
        border-color: #c2d4df;
    }
    /*:hover {
        background-color: #89a1b0;
    }*/
}

@media (prefers-color-scheme: dark) {
    body {
        color: whitesmoke;
    }
    .head, .foot {
        background-color: #002147;
    }
    .content {
        background-color: #13274F;
    }
    fieldset {
        background-color: #002147;
        border-color: #001b3b;
    }
    /*:hover {
        background-color: #384e7b;
    }*/
}

h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: normal;
}

legend {
    font-family: "Arial Black", sans-serif;
    font-size:20px;
}
fieldset {
    height: auto;
    width: 1000px;
    margin: auto;
    border-width: 3px;
}
.loginLink {
    margin-top: 10px;
}
.errorMessage {
    color: red;
}
