/*complementary color source: https://hexcolor.co  https://www.colorhexa.com*/
@font-face {
    font-family: Rubik;
    src: url("#{resource['fonts/Rubik-Regular.ttf']}") format("truetype"),
         url("#{resource['fonts/Rubik-Regular.woff2']}") format("woff2");
}
:root {
    --d-body-bg-color: #002147;
    --d-input-bg-color: #13274F;
    --d-btn-bg-color: #13274F;
    --l-body-bg-color: #D5E9F5;
    --l-input-bg-color: #D5E9F5;
    --input-width: 200px;
}
html {
    overflow-y: scroll;
}
body {
    height: 100%;
    width: auto;
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    child-align: middle;
    background-color: #13274F;
    font-size: 15px;
}
.content {
    height: auto;
}

.something {
    /*Light: */
    color: #F0F8FF; color: #D5E9F5; color:#A2D7F7; color: #4B9CD3;
    color: #073980;
    /*Border*/
    color: #c2d4df; /*Hover*/ color: #89a1b0; .sidenav hover color: #83949e

    /*Dark: */
    color: #002147;color: #13274F; color:#007FFF; color: #6495ED;
    color: #7285A5;
    /*Border*/
    color: #001b3b;/*hover*/ color: #384e7b; .sidenav hover color: #123d6d; .button color: #001d3b;
}




@media (prefers-color-scheme: light) {
    body {
        background-color: #A2D7F7;
        color: black;
    }
    .head, .foot{
        background-color: #A2D7F7;
    }
    .content {
        background-color: var(--l-body-bg-color);
    }
    fieldset {
        background-color:#A2D7F7;
        border-color: #c2d4df;
    }
    /*:hover {
        background-color: #89a1b0;
    }*/
    [class*="input-"] {
        background-color: var(--l-input-bg-color);
        color: black;
        border-color: #4B9CD3;
    }
    body .p-datepicker, .ui-calender, .ui-datepicker {
        background-color: var(--l-input-bg-color);
        color: black;
        border-width: 2px;
        border-color: #4B9CD3;
        font-size: 15px;
        font-style: inherit;
    }
    [class*="input-"]:hover {
        background-color: #d39f4b;
    }
    .description {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        color: whitesmoke;
    }
    .head {
        background: rgb(19,39,79);
        background: linear-gradient(0deg, rgba(19,39,79,1) 0%, rgb(23, 46, 93) 35%, rgb(29, 59, 121) 65%, rgb(54, 83, 147) 100%);
    }
    .foot {
        background: #13274F;
        background: linear-gradient(0deg, rgb(54, 83, 147) 0%, rgb(29, 59, 121) 35%, rgb(23, 46, 93) 65%, rgba(19,39,79,1) 100%);
    }
    /*.head {
        background-image: linear-gradient(to bottom, rgba(19, 39, 79, 0), rgba(19, 39, 79, 1) );
    }
    .foot {
        background-image: linear-gradient(to bottom, rgba(19, 39, 79, 0), rgba(19, 39, 79, 1) );
    }*/
    .content {
        background-color: var(--d-body-bg-color);
    }
    fieldset {
        background-color: #13274F;

    }
    [class*="input-"] {
        color: whitesmoke;
        background-color: var(--d-input-bg-color);
        border-color: #7285A5;
    }
    [class*="input-"]:hover {
        background-color: #4f3b13;
    }
    .description {
        color: whitesmoke;
        background-color: var(--d-input-bg-color);
    }
    /*:hover {
        background-color: #384e7b;
    }*/
}
.head {
    height: 120px;
}
.foot {
    height: 150px;
    overflow: hidden;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
}
legend {
    font-weight: bolder;
    font-size:23px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
fieldset {
    border: solid 1px #001b3b;
}
[class*="input-"] {
    border-radius: 5px;
    width: var(--input-width);
}
[class*="btn-"] {
    border-radius: 5px;
    background-color: #7285A5;
    color: whitesmoke;
    border-width: 0;
    padding: 10px;
}
[class*="btn-"]:hover {
    background-color: #7b5138;
}
[class*="label-"] {
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
}
[class*="errMsg-"] {
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 3px;
    color: #fe0000;
    font-style: italic;
}
.loginLink {
    margin-top: 10px;
}
.infoMessage {
    display: none;
}
.outLabel {
    display: inline-block;
    width: 200px;
}
.errorMessage {
    color: red;
}
.obligatory {
    color: red;
}
.btn-profile {
    margin-left: auto;
    float: right;
}
.wrapper {
    display: flex;
    justify-content: center;
}
body .btn-fav {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
body .btn-fav1 {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #B98B0E; /* for if it is favorite */
}

.image-profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* header */
.btn-openMenu {
    width: auto;
    height: auto;
    float: left;
    padding-bottom: 5px;
    margin: 20px;
    background-color: #7285a5;
}
body .pi {
    font-size: 25px;
    font-weight: bold;
}