/*complementary color source: https://hexcolor.co  https://www.colorhexa.com*/
@font-face {
    font-family: Rubik;
    src: url("#{resource['fonts/Rubik-Regular.ttf']}") format("truetype"),
         url("#{resource['fonts/Rubik-Regular.woff2']}") format("woff2");
}
:root {
    --d-body-bg-color: #002147;
    --d-input-bg-color: #13274F;
    --d-btn-bg-color: #13274F;
    --l-body-bg-color: #D5E9F5;
    --l-input-bg-color: #D5E9F5;
}
html {
    overflow-y: scroll;
}
body {
    height: 100%;
    width: auto;
    font-family: "Rubik", sans-serif;
    margin: 0 auto;
    child-align: middle;
    background-color: #13274F;
    font-size: 15px;
}
.content {
    height: auto;
}

.something {
    /*Light: */
    color: #F0F8FF; color: #D5E9F5; color:#A2D7F7; color: #4B9CD3;
    color: #073980;
    /*Border*/
    color: #c2d4df; /*Hover*/ color: #89a1b0; .sidenav hover color: #83949e

    /*Dark: */
    color: #002147;color: #13274F; color:#007FFF; color: #6495ED;
    color: #7285A5;
    /*Border*/
    color: #001b3b;/*hover*/ color: #384e7b; .sidenav hover color: #123d6d; .button color: #001d3b;
}




@media (prefers-color-scheme: light) {
    body {
        background-color: #A2D7F7;
        color: black;
    }
    .head, .foot{
        background-color: #A2D7F7;
    }
    .content {
        background-color: var(--l-body-bg-color);
    }
    fieldset {
        background-color:#A2D7F7;
        border-color: #c2d4df;
    }
    /*:hover {
        background-color: #89a1b0;
    }*/
    [class*="input-"] {
        background-color: var(--l-input-bg-color);
        color: black;
        border-color: #4B9CD3;
    }
    [class*="input-"]:hover {
        background-color: #d39f4b;
    }
    .description {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {

    body {
        color: whitesmoke;
    }
    .head, .foot {
        background-color: #13274F;
    }
    .content {
        background-color: var(--d-body-bg-color);
    }
    fieldset {
        background-color: #13274F;
        border-color: #001b3b;
    }
    [class*="input-"] {
        color: whitesmoke;
        background-color: var(--d-input-bg-color);
        border-color: #7285A5;
    }
    [class*="input-"]:hover {
        background-color: #4f3b13;
    }
    .description {
        color: whitesmoke;
        background-color: var(--d-input-bg-color);
    }
    /*:hover {
        background-color: #384e7b;
    }*/
}

h1 {
    font-size: 35px;
    font-weight: bold;
    line-height: normal;
}

[class*="input-"] {
    border-radius: 5px;
}
[class*="btn-"] {
    border-radius: 5px;
}
.loginLink {
    margin-top: 10px;
}
.infoMessage {
    display: none;
}
.outLabel {
    display: inline-block;
    width: 200px;
}
.errorMessage {
    color: red;
}
.obligatory {
    color: red;
}
.btn-profile {
    margin-left: auto;
    float: right;
}
.wrapper {
    display: flex;
    justify-content: center;
}
