.head {
    float: top;
}
body .btn-logout {
    float: left;
    position: relative;
}
.pi-sign-out::before {
    position: relative;
}
@media (prefers-color-scheme: dark) {
    .empl {
        border-bottom: solid 2px #7285A5;
        border-top: solid 2px #7285A5;
    }
}

@media (prefers-color-scheme: light) {
    .empl {
        border-bottom: solid 2px #cfd8e1;
        border-top: solid 2px #cfd8e1;
    }
}

@media only screen and (min-width: 320px) {
    .allEmpl {
        width: auto;
        margin: 0 10px 0 10px;
    }
    .legend-oldEmpl {
        font-size: 21px;
        margin-top: 35px;
    }
    .fieldset {
        width: auto;
        margin: 0 5px 0 5px;
    }
    .label-empl {
        width: 55px;
    }
    .text-empl {
        padding: 0 0 5px 0;
        font-size: 18px;
    }
    .empl {
        height: 70px;
        padding: 10px;
    }
    .fieldset .btn-new-empl {
        right: 2px;
        bottom: 4px;
        width: 36px;
        height: 36px;
    }
    .legend-empl {
        font-size: 21px;
    }
    .pi-user-plus::before {
        left: -1px;
        bottom: 6px;
        font-size: 20px;
    }
    .pi-trash::before {
        left: -1px;
        bottom: 6px;
        font-size: 20px;
    }
    .empl .btn-delete {
        height: 36px;
        width: 36px;
        margin-top: 5px;
    }
    body .btn-logout {
        font-size: 16px;
        height: 46px;
        width: 130px;
        top: 15px;
        left: 15px;
        padding: 5px 10px 5px 20px;
    }
    .pi-sign-out::before {
        bottom: 7px;
        font-size: 16px;
        left: 8px;
    }
    body .ui-button.ui-button-text-icon-left .ui-button-text {
        padding: 0.5rem 1.5rem 2rem;
    }
    .head {
        height: 70px;
    }
}
@media only screen and (min-width: 481px) {
    .allEmpl {
        width: auto;
        margin: 0 10px 0 10px;
    }
    .legend-oldEmpl {
        font-size: 23px;
        margin-top: 40px;
    }
    .fieldset {
        width: 80%;
        margin: 0 auto 0 auto;
    }
    .label-empl {
        width: 65px;
    }
    .text-empl {
        padding: 0 0 10px 0;
        font-size: 20px;
    }
    .empl {
        height: 75px;
        padding: 15px;
    }
    .fieldset .btn-new-empl {
        right: 2px;
        bottom: 6px;
        width: 40px;
        height: 40px;
    }
    .legend-empl {
        font-size: 23px;
    }
    .pi-user-plus::before {
        left: 0;
        bottom: 4px;
        font-size: 23px;
    }
    .pi-trash::before {
        left: 0;
        bottom: 4px;
        font-size: 23px;
    }
    .empl .btn-delete {
        height: 40px;
        width: 40px;
        margin-top: 3px;
    }
    body .btn-logout {
        font-size: 17px;
        height: 48px;
        width: 140px;
        top: 17px;
        left: 17px;
        padding: 5px 10px 5px 20px;
    }
    .pi-sign-out::before {
        bottom: 7px;
        font-size: 16px;
        left: 10px;
    }
    .head {
        height: 70px;
    }
}
@media only screen and (min-width: 641px) {
    .allEmpl {
        width: 600px;
        margin: 0 auto 0 auto;
    }
    .legend-oldEmpl {
        font-size: 23px;
        margin-top: 50px;
    }
    .label-empl {
        width: 85px;
    }
    .empl {
        height: 90px;
        padding: 20px;
    }
    .fieldset .btn-new-empl {
        right: 2px;
        bottom: 6px;
        width: 46px;
        height: 46px;
    }
    .pi-user-plus::before {
        left: 2px;
        bottom: 3px;
        font-size: 25px;
    }
    .pi-trash::before {
        left: 2px;
        bottom: 3px;
        font-size: 25px;
    }
    .empl .btn-delete {
        height: 46px;
        width: 46px;
        margin-top: 0;
    }
    body .btn-logout {
        font-size: 18px;
        height: 50px;
        width: 150px;
        top: 20px;
        left: 20px;
        padding: 5px 10px 5px 20px;
    }
    .pi-sign-out::before {
        bottom: 5px;
        font-size: 20px;
        left: 10px;
    }
    .head {
        height: 100px;
    }
}

h1 {
    margin-top: 0;
    padding-top: 20px;
}

.oldEmpl {

}

.legend-oldEmpl {
    font-style: italic;
    font-weight: lighter;
    margin-bottom: -5px;
    background-color: inherit;
}

.text-empl {
    height: inherit;
    display: inline-block;
}

.text-emplStatus {
    color: #7285a5;
    font-style: italic;
    margin: 0;
    padding: 0;
}

.label-empl {
    display: inline-block;
    font-size: larger;
    font-weight: inherit;
}

.dropdown-empl {

}

.new-empl {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
fieldset {
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 5%;
}

.legend-empl {
    font-style: oblique;
    font-weight: lighter;
}

.input-empl {
    height: 25px;
    width: 60%;
}

.errMsg-newUser {
    margin: 10px 0 0 0;
}

.label-key {
    margin: 0 20px 0 0;
    font-size: larger;
}

.text-key {
    margin: 0;
    padding: 0;
}

.pi-user-plus::before {
    position: relative;
}

.empl .btn-delete {
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
    background-color: darkred;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}
.empl .btn-delete:hover {
    background-color: #c70808;
    border-color: #c70808;
}

.pi-trash::before {
    position: relative;
}

body .ui-button.ui-button-icon-only {
    width: 40px;
    height: 40px;
}

.fieldset .btn-new-empl {
    float: right;
    display: inline-block;
    background-color: darkgreen;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0;
}

.fieldset .btn-new-empl:hover {
    background-color: #0fa852;
    border-color: #0fa852;
}
