/* Tests: unimportant */
.body {
    text-align: center;
}
.rubik {
    background-color: darkblue;
}
.labelT {
    display: inline-block;
    width: 400px;
}
.cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .5);
}

.popup {
    background-color: white;
    color: #13274F;
    transform: translate(0, 50%);
    width: 200px;
    height: 100px;
}